<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/adam-kring-1pMRoKhF84k-unsplash.jpg');">
        <div class="filter"></div>
    </div>

    <div class ="form mt-5">
<div class="docs-example-viewer-wrapper">
    <h1 class="entry-title">{{wishData.name}}</h1>
    <mat-card-subtitle class="blog-info">
    <i class="fa fa-calendar" aria-hidden="true"></i> {{wishData.createdDate | date:'longDate'}}
    </mat-card-subtitle>
    <mat-divider></mat-divider>
    <div class="docs-example-viewer-body">
    <div [innerHTML]="wishData.content">
    </div>
    </div>
    </div>
    </div>
