<div class="wrapper border border-danger">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/top-view-pink-gifts-with-flowers-copy-space_23-2148465502.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/20190822_111212.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h2 class="title">Wishes For Surabhi <i class="fa fa-heart heart"></i><br /></h2>
                    
                </div>
            </div>
        </div>
            <div class="section section-image section-login" style="background-image: url('assets/img/birthday-party-background-exploding-pink-popper-cone-with-confetti_146764-82.jpg');">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <app-wish-card></app-wish-card>>
                </div>
                </div>
        </div>
    </div>
</div>
    </div>


