<div class="wrapper border border-danger">
    <div class="page-header section-dark" style="background-image: url('assets/img/71df363680872c03c4e43708e6665eab.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    
                    <i class="fa fa-heart heart"></i> <h1 class="presentation-title" style="font-weight: bolder;">  I Love You Birthday Girl   </h1>
                    <br><br><br><br><br><br>
                   
                </div>

                <div class="owner">
                    <div class = "row">
                    <div class="avatar">
                        <img src="./assets/img/faces/Screenshot_20200814-230340__01.jpg" alt="Circle Image" class="img-circle img-responsive">
                    </div>
                    <div class="avatar">
                        <img src="./assets/img/faces/Capture987.JPG" alt="Circle Image" class="img-circle img-responsive">
                    </div>
                </div>
                <div class="name">
                    <h2 class="title"> Shivam Singh <i class="fa fa-heart heart"></i> Surabhi Roy </h2>
                    <br>
                    <h1 class="presentation-subtitle text-center"> May God Bless you and We be Together Forever <i class="fa fa-heart heart"></i> </h1>
                </div>
                </div>

                
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png');"></div>
        
        <h6 class=" category-absolute ml-auto mr-auto">
        </h6>
    </div>
    <div class="main">
      <div class="section" id="carousel">
          <div class="container">
              <div class="tim-title">
                  <h2>Photos Of Us - <i class="fa fa-heart heart"></i> </h2>
              </div>
              <div class="row">
                  <div class="col-md-8 mr-auto ml-auto">
                      <div class="card page-carousel">
                          <ngb-carousel>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/faces/20191013_231349.jpg" alt="Random first slide">
                                  <div class="carousel-caption">
                                      <p>Our Best One <i class="fa fa-heart heart"></i> </p>
                                  </div>
                              </ng-template>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/faces/IMG-20200130-WA0034.jpg" alt="Random second slide">
                                  <div class="carousel-caption">
                                      <p>Cutieee we <i class="fa fa-heart heart"></i> </p>
                                  </div>
                              </ng-template>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/faces/20190821_213705(0).jpg" alt="Random third slide">
                                  <div class="carousel-caption">
                                      <p>The Birthday Night <i class="fa fa-heart heart"></i> </p>
                                  </div>
                              </ng-template>
                              <ng-template ngbSlide>
                                <img src="./assets/img/faces/IMG_20191117_200652.jpg" alt="Random third slide">
                                <div class="carousel-caption">
                                    <p>Our 1st Anniversary <i class="fa fa-heart heart"></i> </p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/faces/20190901_115922.jpg" alt="Random third slide">
                                <div class="carousel-caption">
                                    <p>Trip we wont forget ever <i class="fa fa-heart heart"></i> </p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/faces/IMG_20200125_230833.jpg" alt="Random third slide">
                                <div class="carousel-caption">
                                    <p>Cool Isn't it? </p>
                                </div>
                            </ng-template>
                          </ngb-carousel>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        <div class="section section-dark section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h2 class="title">I Love You My Baby <i class="fa fa-heart heart"></i></h2><br/>
                        <p class="description">
            It's your Birthday and i would like to wish my baby , my everything , my life a very very happy birthday . May you get everything you want ( I know you want me too) , 
            you'll get that for sure . You know na i love you so much , this is small effort to make you happy in a new way . You like surprises right ? I hope this will 
            suprise you a little . Thank you for coming in my life and making it so beautiful , i just want that i am able to make your life even 10% of what you have given me . 
            Love you so very much Pagal .  

        </p><br/><br>
        <p class="description">
            Please have a look at each and every part of the website and do let me know how much did you like it ? I will be waiting for your reaction anxiously . 
        </p>
        <br/><br>
        <p class="description">
             Once again a Very Happy Birthday my Baby <i class="fa fa-heart heart"></i>
        </p>
                        
                    </div>

                    <div class="col-lg-6 col-md-12">
                            <div class="avatar">
                                <img src="./assets/img/faces/20191013_231349.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row example-page">
                <div class="col-md-12 text-center" routerLinkActive="active">
                   
                        <img src="./assets/img/pexels-designecologist-887353.jpg" class="img-rounded img-responsive" style="width: 100%">
                        <a [routerLink]="['/']" class="btn btn-outline-neutral btn-round"></a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
